.haqimda{
    padding-top:170px;
    &__cards{
        width: 100%;
        height: auto;
        background-color: rgb(251, 249, 249);
        padding: 30px;
        border-radius: 30px;
        border: 3px ridge rgb(8, 0, 0);
        text-align: center;
    }
    &__title{
        margin-bottom: 10px;
        font-size: 28px;
    }
}

