.header{
    width: 100%;
    height: auto;
    background-color: rgb(255, 5, 5);
    padding: 20px 0px;
    position: fixed;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav{
    display: flex;
    align-items: center;
    &__list{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__link:hover{
        background-color: aqua;
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }
    &__link{
        font-size: 20px;
        font-weight: 500;
    }
    &__link:hover{
        font-weight: 600;
    }
    &__link:active{
        color: rgb(245, 245, 248);
        transition: all 0.1s linear;
    }
    &__bars{
        display: none;
    }
}

#check{
    display: none;
}

@media (max-width:870px) {
    .nav{
        &__list{
            position: fixed;
            top: 0;
            left: -100%;
            width: 80%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(0, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            transition: all 0.7s ease-in;
        }
        &__bars{
            display: block;
            position: relative;
            border-radius: 8px;
            border: 2px solid black;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu{
            font-size: 30px;
        }
        #check:checked ~ .nav__list{
            left: 0;
        }
        #check1:checked ~ .nav__list{
            left: -100%;
        }
    }
}

@media (max-width:460px) {
    .header{
        &__logo__img{
            width: 150px;
        }
    }
    .nav{
        &__bars{
            width: 30px;
            height: 30px;
        }
        .menu{
            font-size: 22px;
        }
    }
}

@media (max-width:300px) {
    .header{
        &__logo__img{
            width: 130px;
        }
    }
    .nav{
        &__bars{
            width: 25px;
            height: 25px;
        }
        .menu{
            font-size: 16px;
        }
    }
}